<div class="sidenav mat-elevation-z8">

  <section class="sidenav-header">
    <h2>Ng Hacks</h2>
    <button type="button" mat-icon-button class="menu-toggle-btn" (click)="toogleSidenav()">
      <mat-icon>menu_open</mat-icon>
    </button>
  </section>

  <section class="sidenav-list">

    <ng-container *ngFor="let navItem of navigation">

      <a
        class="nav-link"
        mat-button
        [routerLink]="navItem.route"
        [routerLinkActiveOptions]="{exact: navItem?.exactMatch}"
        [routerLinkActive]="['active']">

        <mat-icon class="mr-10" *ngIf="navItem?.icon">{{navItem?.icon}}</mat-icon>
        <span>{{navItem.title}}</span>

      </a>

    </ng-container>



  </section>

  <section class="sidenav-footer">

    <!-- <div class="sidenav-footer-container mat-elevation-z2">
      <a mat-icon-button href="http://abdun-nahid.web.app" target="_blank" rel="noopener noreferrer"
        matTooltip="About application">
        <mat-icon>info</mat-icon>
      </a>

    </div> -->


  </section>

</div>
