@import './variables';

.page {
  padding: 25px 50px;

  @media screen and (max-width: 700px) {
    padding: 25px 30px;
  }

  header {
    background-color: #fff;
    padding: 20px 30px;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: $shadow-1;
    position: relative;

    .back-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -50px;
      padding: 0;
      min-width: initial;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      width: 45px;

      .mat-button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .mat-icon {
          font-size: 40px;
          width: 100%;
          height: 100%;
          margin-top: 4.5px;
          margin-right: 5px;
          color: $text-grey;
        }
      }
    }

    h1 {
      font-size: 32px;
      font-weight: 600;
      margin: 0;
      color: darken($color: $text-grey, $amount: 25%);
    }

    h3 {
      margin: 10px 0 0;
    }
  }

  main {
    box-sizing: border-box;
    border-radius: 10px;
    margin: 40px auto;

    .info {
      margin-bottom: 20px;

      h2 {
        margin: 0;
        font-size: 18px;
        color: darken($color: $text-grey, $amount: 25%);
      }

      .mat-expansion-panel {
        border-radius: 10px;
        box-shadow: $shadow-1;
      }

      .mat-expansion-panel-header-title,
      .mat-expansion-panel-header-description {
        flex-basis: 0 !important;
      }

      .mat-expansion-panel-header-description {
        justify-content: space-between !important;
        align-items: center !important;
      }

      .info-content {
        .mat-list-item>p {
          font-size: 16px;
        }

        .mat-list-item>p {
          font-size: 12px;
        }
      }
    }

    .actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      [mat-button],
      [mat-raised-button],
      [mat-stroked-button] {
        &:not(:last-of-type) {
          margin-right: 10px;
        }
      }
    }

    .page-content {
      background-color: #fff;
      box-shadow: $shadow-1;
      border-radius: 10px;
      overflow: hidden;
      margin-top: 40px;


      .page-content-box-header {
        padding: 20px;

        &.page-content-box-header-width-actions {

          display: flex;
          justify-content: space-between;
          align-items: center;

          .page-content-box-header-title-section {}

          .page-content-box-header-actions-section {
            display: flex;

            .page-content-box-header-action {
              &:not(:last-of-type) {
                margin-right: 10px;
              }
            }

          }
        }

        .page-content-box-title,
        .page-content-box-subtitle {
          margin: 0;
        }
      }
    }
  }

  &.page-details {
    header {
      max-width: 800px;
    }

    main {
      max-width: 800px;

      .page-content {

        .page-content-box-content {}
      }
    }
  }

  &.page-list {
    header {
      // max-width: 800px;
    }

    main {
      // max-width: 800px;
    }
  }

}
