.w-100-p {
  width: 100%;
}

.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px !important;
}
.mr-20 {
  margin-right: 20px;
}

.p-0 {
  padding: 0 !important;
}
.p-24 {
  padding: 24px !important;
}
.p-30 {
  padding: 30px !important;
}
.pl-10 {
  padding-left: 10px;
}
.pr-10 {
  padding-right: 10px;
}

.cursor-pointer {
  cursor: pointer;
}
