.page-home {
  .card-layout {

    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    justify-content: center;

    .app-card-container {
      flex: 1;
      min-width: 400px;
      width: 400px;
      max-width: 400px;
      margin: 0 20px 20px 0;
      height: 185px;

      .card-actions-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8px;

        .npm-badge {
          display: flex;
          height: 100%;
          align-items: flex-end;
        }
      }
    }
  }
}

::ng-deep .page-home {
  .mat-card-header-text {
    margin: 0;
  }
  .mat-card {
    box-sizing: border-box;;
    height: 185px;
  }
}
