<section class="page page-details dynamic-browser-title-page">

  <header>
    <h1>Dynamic Browser Title</h1>
  </header>

  <main>

    <div class="info">
      <mat-expansion-panel expanded hideToggle disabled>

        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>Info</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="info-content">
          <mat-list role="list">

            <div mat-subheader>About</div>

            <mat-list-item role="listitem">
              <mat-icon mat-list-icon>done_all</mat-icon>
              <h3 mat-line>Updates browser title dynamically & automatically on route change</h3>
            </mat-list-item>

            <div mat-subheader>Don't understand what it does?</div>

            <mat-list-item role="listitem">
              <mat-icon mat-list-icon>navigate_next</mat-icon>
              <h3 mat-line>Change routes and look into your browser title.</h3>
              <p mat-line>Navigate to any other pages from the side nav.</p>
            </mat-list-item>

            <mat-list-item role="listitem">
              <mat-icon mat-list-icon>playlist_add_check</mat-icon>
              <h3 mat-line>Browser title should be changed with the respective page header section text.</h3>
              <p mat-line>In this page you should see "Dynamic Browser Title" prefixed with app name.</p>
            </mat-list-item>

          </mat-list>

          <mat-list role="list">
            <div mat-subheader>Installation & Usage</div>
            <mat-list-item role="listitem">
              <a class="mr-10" href="https://www.npmjs.com/package/@nghacks/dynamic-browser-title" target="_blank"
                color="accent" mat-flat-button>
                NPM
              </a>
              <a class="mr-10" href="https://github.com/abdunnahid/nghacks/tree/master/main/projects/dynamic-browser-title"
                target="_blank" color="accent" mat-stroked-button>
                GitHub
              </a>
            </mat-list-item>
          </mat-list>

        </div>
      </mat-expansion-panel>
    </div>

    <div class="page-content">

    </div>

  </main>

</section>
