@import './variables';

// Chrome Scrollbar styling
::-webkit-scrollbar {
  width: 7px;
  border-radius: 3rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 3rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3rem;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: grab;
  }
}
