@import '../../../../../theming/variables';

.uploader-section {
  padding: 20px;

  .example {
    &:not(:first-of-type) {
      margin-top: 20px;
      padding-top: 10px;
      border-top: 1px dashed darken($color: $content-background, $amount: 20);
      ;
    }

    h2 {
      // margin: 10px 0 0;
      font-size: 16px;
      font-weight: 600;
    }

    .uploader-input {}

    .payload {
      padding: 1px 20px;
      background: $content-background;
      border-radius: 10px;
      margin-top: 40px;
      box-sizing: border-box;

      h3 {
        margin: 10px 0 0;
        font-size: 14px;
        font-weight: 600;
      }
    }

  }
}

.uploader-page {



  .image-uploader-section {}

  .image-uploader-input {}

  .file-uploader-input {}
}
